[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
yapf = "*"
ipython = "*"
pyinstaller = "*"
setuptools-git-version = "*"

[packages]
dnspython = "*"
django = "*"
setuptools-git-version = {editable = true,git = "https://github.com/pyfidelity/setuptools-git-version.git"}
